@model ejemploMVC.Models.Notas
@{
    ViewBag.Title = "Notas";
}

<h2>Notas</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(Model => Model.Nota1, new { @class = "control-label" })
        @Html.TextBoxFor(Model => Model.Nota1, new { @class = "form-control", type = "number"})
    </div>

    <div class="form-group">
        @Html.LabelFor(Model => Model.Nota2, new { @class = "control-label" })
        @Html.TextBoxFor(Model => Model.Nota2, new { @class = "form-control", type = "number" })
    </div>

    <div class="form-group">
        @Html.LabelFor(Model => Model.Nota3, new { @class = "control-label" })
        @Html.TextBoxFor(Model => Model.Nota3, new { @class = "form-control", type = "number" })
    </div>

    <div class="form-group">
        <input type="submit" value="Promedio" class="btn btn-seccess" />
    </div>

    <br/><br/>
    if (ViewBag.resultado != null)
    {
        <p>Resultado:&nbsp;@ViewBag.resultado</p>
    }
}